{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}

<br>
    <div class="container">
        <div class="row">
          <div class="col">
            <img src='/static/img/plant.jpg' width="400px" height="450px">
          </div>
          <div class="col">
            <p>Phytomedicine is a monthly peer-reviewed medical journal covering the fields of phytotherapy, phytomedicine, and toxicology of plants and their extracts.</p>
            <p>Phytomedicine is an emerging discipline at the intersection of medicine, genomics, and evolution. It focuses on the use of evolutionary knowledge to predict functional consequences of mutations found in personal genomes and population</p>
            <p>Phytomedicine is primarily a therapy-oriented journal. phytomedicine publishes innovative studies on efficacy, safety, qaulity and mechanisms of action of specified plants extracts, phytopharmaceuticals and their isolated constituents.</p>
        </div>
          <div class="col">
            Column
          </div>
        </div>
      </div>


{% endblock %}

