{% extends 'accounts/main.html' %}


{% block content %}
<br>

<div class="container">
    <div class="row">
      <div class="col">
        <!-- <img src='/static/img/plant.jpg' width="200px" height="250px"> -->
      </div>
      <div class="col">
        <div class="card border-secondary mb-5" style="max-width: 23rem;">
            <div class="card-header">Login</div>
            <div class="card-body text-secondary">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
              <!-- <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
      </div>
      <div class="col">
        <!-- Column -->
      </div>
    </div>
  </div>

{% endblock %}